#!/usr/bin/env bash

# Copy this file from ".env.sample" to ".env", then fill in these values
# A Ditto AppID and Playground token can be obtained from https://portal.ditto.live
DITTO_APP_ID="511b854e-1e6b-4b2b-b12e-1af4287080e8"
DITTO_PLAYGROUND_TOKEN="ab1cf269-780d-4296-ae31-adb6b8a62975"
DITTO_AUTH_URL="https://i83inp.cloud.dittolive.app"
DITTO_WEBSOCKET_URL="wss://i83inp.cloud.dittolive.app"

#DITTO_APP_ID="4334da4d-6685-4f81-8f33-b185112c13d7"
#DITTO_PLAYGROUND_TOKEN="02d91377-2d0f-401d-82cf-e95820afcef6"
#DITTO_AUTH_URL="https://i83inp.cloud.dittolive.app"
#DITTO_WEBSOCKET_URL="wss://i83inp.cloud.dittolive.app"